.button {
    margin: 20px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background: lightskyblue;
    color: darkblue;
    transition: 300ms;
    border: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background: cornflowerblue;
    color: lightskyblue;
    box-shadow: 0 0 10px 5px darkblue;
}

