.wrap {
    background: silver;
    gap: 10px;
}

.navLinks {
    background: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navLinks a[class='active']{
    color: darkred;
    font-weight: 700;
}